* {
  margin: 0; padding: 0;
}
$width: 375px; $mainmargin: 10px;

body {
    background-color: rgb(56, 56, 56);
    #container {
        width: $width; min-height: 600px;
        margin: 0 auto;
        background-color: gray;
        header {
            width: $width;
            background-color: lightsalmon;
            position: fixed; z-index: 10;
            i {
                padding: 10px 0;
                font-size: 30px;
                margin-right: 40px;
                float: right;
                &:hover {
                    color: red;
                    cursor: pointer;
                }
            }
            form {
                width: 150px;
                position: fixed; z-index: 100;
                left: 50%; margin-left: $width / 2 - 150px;
                background-color: white;
                opacity: 0.95;
                select {
                    &:first-child {
                        margin-top: 20px;
                    }
                    margin-bottom: 75px;
                    font-size: 20px;
                }
            }
        }
        footer {
            width: $width;
            background-color: lightsalmon;
            display: flex; align-items: center;
            position: fixed; bottom: 0; padding: 10px 0; z-index: 10;
            p {
                text-align: center;
                font-size: 20px;
                width: calc(100% / 3);
                &:hover {
                    color: red;
                    cursor: pointer;
                }
            }
        }
        #main {
            overflow: auto;
            width: $width - 2 * $mainmargin;
            padding: 60px $mainmargin 25px;
            .contents {
                display: flex;
                width: ($width - 3 * $mainmargin) / 2; height: 100px;
                margin-bottom: $mainmargin;
                background-color: lightblue;
                &:first-child, &:nth-child(2n+1) {
                    float: left;
                }
                &:nth-child(2n) {
                    float: right;
                    margin-left: $mainmargin;
                }
                &:last-child {
                    margin-bottom: 70px;
                }
                &:hover {
                    cursor: pointer;
                    opacity: 0.8;
                }
                .content1 {
                    i {
                        margin: 5px;
                        color: rgb(56, 56, 56);
                        font-size: 60px;
                    }
                }
                .detail {
                    .mode {
                        margin-top: 10px;
                        font-size: 20px;
                    }
                    .detailcontents {
                        display: flex;
                        margin-top: 7px;
                        p {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}